@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
:root {
  --primary: #A2FF2D;
  --text: #181818;
  --text-reverse: #fff;
  --hover: #1818181f;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --text-reverse: #181818;
    --hover: #ffffff1f;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "pretendard";
}
body{
  overflow: hidden;
}

header{
  position: absolute;
  top: 0;
  width: 100vw;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 100px;
  > b{
    color: var(--text);
    font-weight: 900;
    font-size: 40px;
  }
  > nav{
    display: flex;
    gap: 20px;


    /* > a{

      
    } */
  }
}

.button{
  display: flex;
  gap: 5px;
  justify-content: center;
  text-decoration: none;
  color: var(--text);
  padding: 8px 16px;
  border-radius: 10000px;
  background-color: #fff;
  &.now{
    background-color: var(--primary);
  }
  &:hover{
    background-image: linear-gradient(var(--hover), var(--hover));
    /* background-color: var(--hover); */
  }
}

main{
  padding-top: 60px;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  > img{
    position: absolute;
    border-radius: 25px;
    width: calc(100vw - 100px);
    height: calc(100vh - 145px);
  }
  > p {
    line-height: 50px;
    color: var(--text-reverse);
    word-spacing: 10px;
    text-align: center;
    font-size: 27px;
    font-weight: 500;
    position: relative;
    z-index: 1;
    > b{
      color: var(--primary)
    }
    > u{
      color: #ADADAD;
      margin-top: 20px;
      text-decoration: none;
    }
  }
  > footer {
    display: flex;
    gap: 10px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    margin-bottom: 100px;
  }
}